html {
    background: #587FDE;
}
.head {
    background: #2F3640;
}
.settings {
    color: white;
}
.items {
    color: #f0f0f0;
}
.about {
    color: white;
    background: #4483f4;
    box-shadow: 0px 0px 10px grey;
}
.about > .features {
    background: #719cea;
    box-shadow: 0px 0px 10px grey;
}
.blog {
    color: white;
    background: #4483f4;
    box-shadow: 0px 0px 10px grey;
}
.blog > .features {
    background: #719cea;
    box-shadow: 0px 0px 10px grey;
}
.modalback {
    background: grey;
}
.wrapper-modal {
    background: #a9921e;
}
.about {
    background: repeating-linear-gradient(
        -45deg,
        #606dbc,
        #606dbc 10px,
        #0f0298 10px,
        #0f0298 20px
        );
}
.about > .features {
    background: gray;
}
.blog {
    background: repeating-linear-gradient(
        -45deg,
        #840912,
        #840912 10px,
        #9ab321 10px,
        #9ab321 20px
        );
}
.blog > .features {
    background: gray;
}
