html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace
}

.head {
    top: 0;
    position: fixed;
    display: grid;
    grid-template-columns: 70% 10%;
    justify-content: center;
    width: 100%;
    background: #2F3640;
}
.settings, .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
}
.settings {
    cursor: pointer;
    width: min-content;
    color: white;
}
.items {
    color: orange;
    text-decoration: none;
    padding-left: 1em;
    font-size: 1em;
}
.items:hover {
    font-size: 1.1em;
    margin: -0.1em;
    padding: -0.1em;
    font-weight: 600
}
.about {
    position: relative;
    top: 56px;
    z-index: -10;
    background: #BBC9DD;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 70%;
    margin: auto;
    border-radius: 5px;
}
.about > .features {
    min-height: 400px;
    width: auto;
    margin: 1em;
    justify-content: center;
    display: flex;
    border-radius: 5px;
}
.content {
    width: 95%;
}
.transition {
    z-index: -10;
    height:2.250em;
    width: 70%;
    position: relative;
    margin: auto;
}
.blog {
    position: relative;
    top: 56px;
    z-index: -10;
    display: grid;
    grid-template-columns: 95%;
    justify-content: center;
    width: 70%;
    margin: auto;
    border-radius: 5px;
}
.blog > .features {
    min-height: 400px;
    width: auto;
    margin: 1em;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    border-radius: 5px;
    margin: 0.5em;
    padding: 1em;
}
.modalback {
    z-index: 90;
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    height: 100vh;
    opacity: 0.5;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
}
.modal {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    justify-content: auto;
    margin: auto;
    height: 100vh;
    
}
.wrapper-modal {
    width: 80%;
    margin: auto;
    position: absolute;
    left: calc(10%);
    top: calc(5%);
    padding: 20px;
    border-radius: 10px;
    min-height: 80vh;
}
.close {
    cursor: pointer;
    position: absolute;
    right: calc(10px);
    top: calc(10px);
}
.image {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}
@media only screen and (min-width: 300px) and (max-width: 600px) {
    .transition {
        z-index: -10;
        height:7.250em;
        width: 70%;
        position: relative;
        margin: auto;
    }
    .about {
        position: relative;
        top: 1.75em;
        z-index: -10;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        width: 70%;
        margin: auto;
        border-radius: 5px;
    }
    .blog > .features {
        min-height: 200px;
        max-height: 350px;
        width: auto;
        margin: 1em;
        justify-content: center;
        display: grid;
        grid-template-columns: 90%;
        border-radius: 5px;
        margin: 0.5em;
        padding: 1em;
        overflow: hidden;
    }
    .wrapper-modal {
        width: 80%;
        margin: auto;
        position: absolute;
        left: calc(5%);
        top: calc(5%);
        padding: 20px;
        border-radius: 10px;
        min-height: 80vh;
    }
    .head {
        top: 0;
        position: fixed;
        display: grid;
        grid-template-columns:90% 10%;
        justify-content: center;
        width: 100%;
    }
    .settings, .menu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1em;
    }
    .settings {
        cursor: pointer;
        width: min-content;
        color: white;
    }
    .items {
        text-decoration: none;
        padding-left: 1em;
        font-size: 1em;
    }
}
