html {
    background: #587FDE;
}
.head {
    background: #2F3640;
}
.settings {
    color: white;
}
.items {
    color: #f0f0f0;
}
.about {
    background: #4483f4;
    box-shadow:gray
}
.about > .features {
    background: #719cea;
    box-shadow: 0px 0px 10px grey;
}
.blog {
    background: #4483f4;
    box-shadow: 0px 0px 10px grey;
}
.blog > .features {
    background: #719cea;
    box-shadow: 0px 0px 10px grey;
}
.modalback {
    background: grey;
}
.wrapper-modal {
    background: #a9921e;
}
