html {
    background: #F1F6FB;
}
.head {
    background: #2F3640;
}
.settings {
    color: white;
}
.items {
    color: orange;
}
.about {
    background: #BBC9DD;
    box-shadow: 0px 0px 10px gray
}
.about > .features {
    box-shadow: 0px 0px 10px gray
}
.blog {
    background: #BBC9DD;
    box-shadow: 0px 0px 10px gray
}
.blog > .features {
    box-shadow: 0px 0px 10px gray
}
.modalback {
    background: #FCDDE3;
}
.wrapper-modal {
    background: #53CDF6
}
